.create-project {
	width: 100%;
	background: $darkergray;
	z-index: 9;
	transition-duration: 0.5s;
	text-align: center;
	position: relative;
	@media #{$mq-1070} {
		width: calc(100% - 200px);
		margin-left: 200px;
	}
	&>.center {
		display: block;
		width: 95%;
		min-height: 100%;
		height: auto;
		margin: auto;
		margin-bottom: 100px;
		margin-top: 70px;
		position: relative;
		@media #{$mq-670} {
	    	margin-top: 120px;
	    }
	    @media #{$mq-1070} {
	    	margin-top: 70px;
	    }
		&>.title {
			width: 100%;
			@include center;
			margin-bottom: 20px;
			&>h1 {
				text-align: center;
				font-weight: 200;
			 	color: $purple;
			    max-width: 550px;
			    width: 90%;
			    line-height: 1;
			    @media #{$mq-670} {
			    	font-size: 2.25em;
			    }
			    @media #{$mq-1070} {
			    	font-size: 2.5em;
			    	max-width: 550px;
			    }
			}
		}
		&>.questionaire {
			@include center;
			flex-direction: column;
			width: 90%;
			max-width: 600px;
			padding: 1%;
			margin: auto;
			&>h2 {
				margin-top: 30px;
				color: $redish;
			 	position: relative;
			 	width: 100%;
			 	text-align: center;
			 	&::before {
			 		content: attr(data-num);
			 		@include center;
			 		margin: auto;
			 		margin-bottom: 45px;
			 		border-radius: 50%;
			 		height: 70px; 
			 		width: 70px;
			 		background: #fff;
			 		font-size: 1.5em;
			 		font-weight: 300;
			 		@include headerShadow;
			 	}
			}
			& label,
			& legend,
			& span {
				color: #E7E9F0;
				margin: 20px 0 2.5px 0;
				@include center;
				align-self: flex-start;
				margin-bottom: 10px;
				font-size: 1.15em;
				line-height: 1.4;
			}
			& span {
				font-size: 1em;
				text-decoration: underline;
				margin-top: 5px;
				margin-bottom: 20px;
				color: rgba(#E7E9F0, 0.75);
				margin-left: 20px;
				cursor: pointer;
				&:hover {
					color: #E7E9F0;
				}
			}
			&>.input {
				width: 100%;
				@include center;
				flex-direction: column;
				margin-bottom: 40px;
				border-bottom: 1px solid rgba(#fff, 0.75);
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0; left: 0;
					width: 100%;
					height: 2px;
					background: #fff;
					transform: scaleX(0);
					transition-duration: 0.3s;
				}
				&>input {
					width: 100%;
					border: none;
					height: 40px;
					padding-left: 5px;
					align-self: flex-start;
					outline: none;
					border-radius: 0;
					background: transparent;
					color:#fff;
					position: relative;
				}
			}
			&>.input-focus::after {
				transform: scaleX(1);
			}
			&>textarea {
				width: 100%;
				max-width: 100%;
				height: 80px;
				max-height: 80px;
				outline: none;
				border: 1px solid $redish;
				background: transparent;
				color:#fff;
				margin-bottom: 40px;
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #8E9090;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: #8E9090;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: #8E9090;
			}
			:-moz-placeholder { /* Firefox 18- */
			  color: #8E9090;
			}
			&>.mcheck {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			&>.submit-project {
				outline: none;
				border: none;
				height: 50px;
				width: 220px;
				border: none;
				outline: none;
				border-radius: 0;
				color: #fff;
				background: $redish;
				margin-bottom: 50px;
				margin-top: 40px;
				@include buttonShadow;
				border-radius: 2.5px;
				position: relative;
				transition: color 0.1s 0s,
							width 0.3s 0s,
							border-radius 0.2s 0.05s,
							box-shadow 0.3s 0s;
				&>img {
					position: absolute;
					height: 60%;
					width: 60%;
					top: 20%;
					left: 20%;
					transform: scale(0);
					transition-duration: 0.3s;
				}
			}
			&>.submit-project-loading {
				background: $redish url('./pictures/loader.gif') no-repeat center;
				background-size: 40px 40px;
				width: 50px;
				border-radius: 50%;
				color: transparent;
				overflow: hidden;
				@include headerShadow;
			}
			&>.submit-project-complete {
				background: $redish;
				&>img {
					transform: scale(1);
					transition-delay: 0.25s;
					transition-duration: 0.3s;
				}
			}
		}
	}
}


@import 'TrelloID/trello-id.scss';