.settings {
	display: block;
	width: 100%;
	position: relative;
  	min-height: 100vh;
  	margin-bottom: 50px;
	@media #{$mq-1070} {
		width: calc(100% - 200px);
	}
	&>.center {
		width: 95%;
		height: auto;
		margin: auto;
		min-height: 100vh;
		position: relative;
	    @media #{$mq-1070} {
	      width: 95%;
	    }
		&>h1 {
			font-size: 3em;
			font-weight: 200;
			color: $purple;
			width: 100%;
			@include gradientText;
			text-align: center;
			margin: 2em auto 0.5em auto;
			position: relative;
			@media #{$mq-670} {
				margin: 2.5em auto 1em auto;
			}
			@media #{$mq-1070} {
				margin: 2em auto 1em auto;
			}
		}
		&>h2 {
			color: $purple;
			text-align: center;
			font-size: 1.2em;
			width: 90%;
			margin: auto;
			margin-bottom: 20px;
			font-weight: 400;
		}
		&>.input-container {
			width: 90%;
			@include center;
			flex-direction: column;
			margin: auto;
			@media #{$mq-670} {
				width: 80%;
				max-width: 500px;
			}
			&>h2 {
				font-size: 1.2em;
				text-align: center;
				color: $redish;
				font-weight: 400;
				margin: 10px;
			}
			& label {
				color: #E7E9F0;
				margin: 20px 0 2.5px 0;
				@include center;
				align-self: flex-start;
				margin-bottom: 0px;
				font-size: 1.15em;
				line-height: 1.4;
			}
			&>.input {
				width: 100%;
				@include center;
				flex-direction: column;
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(#fff, 0.75);
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0; left: 0;
					width: 100%;
					height: 2px;
					background: #fff;
					transform: scaleX(0);
					transition-duration: 0.3s;
				}
				&>input {
					width: 100%;
					border: none;
					height: 40px;
					padding-left: 5px;
					align-self: flex-start;
					outline: none;
					border-radius: 0;
					background: transparent;
					color:#fff;
					position: relative;
				}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #8E9090;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: #8E9090;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: #8E9090;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: #8E9090;
				}
			}
			&>.input-focus::after {
				transform: scaleX(1);
			}
			&>.submit {
				margin-top: 30px;
				outline: none; border: none;
				height: 50px;
				width: 200px;
				border-radius: 2.5px;
				@include buttonShadow;
				color: #fff;
				background: $redish;
				transition-duration: 0.3s;
				position: relative;
				&>img {
					position: absolute;
					height: 60%;
					width: 60%;
					top: 20%;
					left: 20%;
					transform: scale(0);
					transition-duration: 0.3s;
				}
			}
			&>.submit-loading {
				background: $redish url('pictures/loader.gif') no-repeat center;
				background-size: 75% 75%;
				width: 50px;
				border-radius: 50%;
				color: transparent;
				overflow: hidden;
				@include headerShadow;
			}
			&>.submit-success {
				background: $redish;
				&>img {
					transform: scale(1);
					transition-delay: 0.25s;
					transition-duration: 0.3s;
				}
			}
		}
	}
}