.payment-wrapper {
  width: 100%;
  margin-top: 120px;
  min-height: 100vh;
  @media #{$mq-670} {
    margin-top: 140px;
  }
  @media #{$mq-1070} {
    width: calc(100% - 200px);
    margin-top: 0;
    @include center;
  }
  @media #{$mq-h-1024} {
    @include center;
    margin-top: 0;
  }
}

.payment {
  display: block;
  width: 90%;
  margin: auto;
  background-color: $darkgray;
  color: #fff;
  padding: 20px 0;
  border-radius: 5px;
  @include headerShadow;
  &>.checkout {
    margin: auto;
    width: 90%;
    @include center;
    flex-direction: column;
    &>div {
      width: 90%;
    }
    &>h2 {
      text-align: center;
      font-weight: 200;
    }
    & form {
      width: 100%;
    }
    & label {
      font-size: 1.25em;
      font-weight: 200;
    }
    & input, 
    & .StripeElement {
      width: 100%;
      margin-bottom: 15px;
    }
    &>button {
      outline: none; border: none;
      border-radius: 2.5px;
      @include buttonShadow;
      width: 70%;
      max-width: 250px;
      background: $redish;
      height: 45px;
      margin: 30px auto 20px auto;
    }
  }
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@import 'Options/options.scss';