.payment-wrapper {
  width: 100%;
  margin-top: 120px;
  min-height: 100vh;
  @media #{$mq-670} {
    margin-top: 140px;
  }
  @media #{$mq-1070} {
    width: calc(100% - 200px);
    margin-top: 0;
    @include center;
  }
  @media #{$mq-h-1024} {
    @include center;
    margin-top: 0;
  }
}

.payment {
  display: block;
  width: 90%;
  margin: auto;
  background-color: lighten($darkgray, 5%);
  color: #fff;
  padding: 20px 0;
  border-radius: 5px;
  @include headerShadow;
  max-width: 400px;
  &>.checkout {
    margin: auto;
    width: 90%;
    @include center;
    flex-direction: column;
    &>div {
      width: 90%;
    }
    &>h2 {
      text-align: center;
      font-weight: 200;
      margin-bottom: 30px;
    }
    &>h3 {
      text-align: center;
      color: $redish;
      margin-bottom: 30px;
      margin-top: -15px;
    }
    & form {
      width: 100%;
    }
    & label {
      font-size: 1.25em;
      font-weight: 200;
    }
    & input, 
    & .StripeElement {
      width: 100%;
      margin-bottom: 15px;
    }
    &>.pay {
      outline: none; border: none;
      margin: 0; padding: 0;
      height: 45px;
      width: 70%; max-width: 200px;
      margin: 2.5%;
      margin: 20px auto 20px auto;
      background: #5BD070;
      color: #fff;
      font-weight: 600;
      border-radius: 2.5px;
      @include buttonShadow;
      position: relative;
      transition-duration: 0.3s;
      &>img {
        position: absolute;
        height:60%; width: 60%;
        top: 20%; left: 20%;
        transform: scale(0);
        transition-duration: 0.3s;
      }
    }
    &>.pay-loading {
      width: 45px; 
      background: #5BD070 url('pictures/loader.gif') no-repeat center;
      background-size: 37.5px 37.5px;
      border-radius: 50%;
      color: transparent;
    }
    &>.pay-success {
      background: #5BD070;
      &>img {
        transform: scale(1);
      }
    }
  }
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

@import 'Options/options.scss';