.statistic {
	@include center;
	width: 100%;
	&>div {
		width: 95%;
		@include center;
		flex-direction: column;
		margin: 5% 0;
		&>h2 {
			color: #fff;
			font-size: 4vh;
			font-weight: 200;
			margin-top: 0;
			@media #{$mq-670} {
				font-size: 4vh;
				text-align: center;
			}
		}
		&>.card-info {
			@include center;
			height: auto;
			color: #fff;
			width: 90%;
			padding: 10px;
			margin: 0;
			background: $lightgray;
			margin-bottom: 10px;
			border-radius: 5px;
			@include buttonShadow;
			&>h3 {
				margin: 0;
			}
		}
	}
}