.Dashboard {
	@include center;
	min-height: 100vh; 
	width: 100%;
	background: $darkergray;
	&>div {
		@include center;
		min-height: 100vh;
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 50px;
		&>.top-panel {
			width: 100%;
			@include center;
			margin-bottom: 1vh;
			background: $darkgray;
			padding: 5% 0;
			@include headerShadow;
			width: 90%;
			border-radius: 10px;
			@media #{$mq-670} {
				padding: 2.5%;
			}
			&>h1 {
<<<<<<< HEAD
				font-size: 6vh;
=======
				font-size: 6.5vh;
>>>>>>> master
				font-weight: 200;
				@include backgroundTop;
			    -webkit-background-clip: text;
			    -webkit-text-fill-color: transparent;
			    margin: 0;
			    @media #{$mq-670} {
					font-size: 7.5vh;
				}
			}
		}
		.boxes {
			@include center;
			width: 100%;
			flex-direction: column;
<<<<<<< HEAD
=======
			@include headerShadow;
>>>>>>> master
			@media #{$mq-670} {
				flex-direction: row;
				flex-wrap: wrap;
			}
			&>.box {
				height: 100%;
				width: 90%;
				border-radius: 10px;
				@include center;
				background: $darkgray;
<<<<<<< HEAD
				margin: 3vh 0 1vh 0;
=======
				margin: 3vh 0;
>>>>>>> master
				padding: 2.5% 0;
				@include headerShadow;
				flex-direction: column;
				@media #{$mq-670} {
					width: 45%;
<<<<<<< HEAD
					margin: 3vh 0;
=======
>>>>>>> master
					&:nth-of-type(odd) {
						margin-right: 2.5%;
					}
					&:nth-of-type(even) {
						margin-left: 2.5%;
					}
				}
			}
		}
	}
}

@import 'CircleGraph/circle-graph.scss';
@import 'Team/team.scss';
@import 'CircleGraph/CircleDetails/circle-details.scss';