{
  "env": {
    "production": {
      "presets": ["es2015", "stage-0", "minify"], 
      "plugins": ["transform-remove-console", "transform-runtime"],
      "comments": false
    },
    "development": {
      "presets": ["es2015", "stage-0", "transform-runtime"], 
      "plugins": [],
      "comments": true
    }
  }
}