.side-nav {
	position: fixed;
	top: 0; left: 0;
	height: 50px;
	width: 100%;
	@include headerShadow;
	@include center;
	width: 100%;
	z-index: 50;
	&>div {
		@include center;
		width: 100%;
		&>ul {
			
		}
	}
}