
/* $color: $darkred; // icon color
$blue: #158fef; // background color
0.75: 750ms; // animation speed
$scale: 0.8; // icon scale 68/68 default
 */
*, *::before, *::after {
  box-sizing: border-box;
 }

#hamburger {
  // transform: scaleX(0);
  transform-origin: 0% 50%;
  cursor: pointer;
/*   -webkit-transform: scale(0.65) translateY(-50px); */
    transform: scale(0.65);
/*   margin: 40px auto; */
  position: fixed;
  top:  -7.5px;
  right:  -20px;
  display: block;
  width: 68px;
  height: 68px;
  background: transparent;
  z-index: 100000;
  transition-duration: 0.3s;
  transition-delay: 1s;
/*   -webkit-touch-callout: none; */
  user-select: none;
  @media #{$mq-670} {
    transform: scale(1);
    top:  7.5px;
    right:  5px;
  }
  @media #{$mq-800} {
    display: none;
  }
}
#top, #bottom1 {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  @include backgroundRight;
}
#top {
  top: 19px;
  left: 14px;
}
#bottom1 {
  top: 41px;
  left: 14px;
}

#hamburger path, line {
  // stroke: #FFF;
  stroke-linecap: round;
}

/* // Starting values */
#top, #bottom1 {
  -webkit-transform-origin: 34px 2px;
    transform-origin: 34px 2px;
  -webkit-transform: rotate( 0deg );
    transform: rotate( 0deg );
  -webkit-transition: all 0.5s cubic-bezier(.8, -1.1, .5, 1.9);
    transition: all 0.5s cubic-bezier(.8, -1.1, .5, 1.9);
}
#circle {
  stroke-dasharray: 1 100 32 300; 
  stroke-dashoffset: 101; 
  -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease; 
}

.hamburglar::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: 15.45px;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    transform: scaleX(0) translateX(3px);
    transform-origin: 50% 50%;
    transition: all 0.5s;
    @include backgroundRight;
}


/* // End values (animation done by transitions) */
/* .hamburglar.is-closed { */
/*   // The circle animation is done by changing two things:
  // - a new 100px gap is swiped in from the left by changing offset
  // - the 'burger' dash is increased from 32px to 190px */
.hamburglar.is-closed #circle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}
  
/*   // Rotate the top and bottom 'bum' to make a cross, and shift them to
  // the right a little bit */
.hamburglar.is-closed #top {
  -webkit-transform: translateX( -4.5px ) rotate( -45deg );
    transform: translateX( -4.5px ) rotate( -45deg );
}
.hamburglar.is-closed #bottom1 {
  -webkit-transform: translateX( -4.5px ) rotate( 45deg );
    transform: translateX( -4.5px ) rotate( 45deg );
}

.hamburglar.is-closed.is-arrow {
  &::after {
    transform: scaleX(1) translateX(0px);
    transform-origin: 100% 50%;
    transition: all 0.5s cubic-bezier(.8, -1.1, .5, 1.9);
  }
  &>#top {
    transform: translateX( 0px ) translateY( 11px ) rotate( 45deg ) scaleX(0.5);
  }
  &>#bottom1 {
    transform: translateX( 0px ) translateY( -11px ) rotate( -45deg ) scaleX(0.5);
  }
}