.class {
	width: 90%;
	@include center;
	border-radius: 5px;
	margin: 1em;
	position: relative;
	min-height: 200px;
	transform: translateY(50px);
	opacity: 0;
	perspective: 700px;
	max-width: 380px;
	@media #{$mq-670} {
		width: 42.5%;
		margin: 1.5em 3%; 
		align-self: flex-start;
	}
	@media #{$mq-1070} {
		margin: 1em;
		max-width: 300px;
	}
	&>.front {
		height: 100%;
		min-height: 200px;
		width: 100%;
		@include center;
		background: lighten($darkgray, 2.5%);
		position: relative;
		transition-duration: 0.4s;
		transform: rotateY(0deg);
		backface-visibility: hidden;
		border-radius: 5px;
		@include headerShadow;
		&>div {
			@include center;
			flex-direction: column;
			padding: 10% 0 5% 0;
			width: 100%;
			overflow: hidden;
			&>h2 {
				font-weight: 600;
				color: $purple;
				margin-top: 0;
				width: 95%;
				text-align: center;
				cursor: pointer;
				&:hover {
					color: lighten($purple, 15%);
				}
			}
			&>p {
				color: $redish;
				margin: 0;
				margin-top: -0.5em;
				margin-bottom: 20px;
				width: 100%;
				text-align: center;
				line-height: 1.5;
				font-weight: 400;
				width: 95%;
			}
		}
		&>.top-border {
			position: absolute;
			top: 0; left: 0;
			height: 10px;
			width: 100%;
			padding: 0;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
		&>button {
			outline: none; border: none;
			background: url('pictures/edit.svg') no-repeat center;
			background-size: 45% 45%;
			position: absolute;
			top: 15px; left: 5px;
			height: 32.5px; width: 32.5px;
			@include center;
			border-right: 1px solid $purple;
			border-bottom: 1px solid $purple;
		}
		&>.delete {
			top: auto;
			bottom: 5px;
			background: url('pictures/delete.svg') no-repeat center;
			background-size: 45% 45%;
			border-right: 1px solid $redish;
			border-top: 1px solid $redish;
			border-bottom: none;
		}
	}
	&>.back {
		position: absolute;
		top: 0; left: 0;
		height: 100%; width: 100%;
		background: lighten($darkgray, 2.5%);
		transform: rotateY(-180deg);
		backface-visibility: hidden;
		border-radius: 5px;
		transition-duration: 0.4s;
		@include headerShadow;
		border-radius: 5px;
		&>div {
			height: 100%; width: 100%;
			position: relative;
			@include center;
			flex-direction: column;
			&>.top-border {
				position: absolute;
				top: 0; left: 0;
				height: 10px;
				width: 100%;
				padding: 0;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
			&>.reverse {
				outline: none; border: none;
				background: url('pictures/arrow.svg') no-repeat center;
				background-size: 65% 65%;
				position: absolute;
				top: 15px; left: 5px;
				height: 32.5px; width: 32.5px;
				@include center;
				border-right: 1px solid $purple;
				border-bottom: 1px solid $purple;
			}
			&>.input {
				width: 85%;
				@include center;
				flex-direction: column;
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(#fff, 0.75);
				position: relative;
				min-height: 40px;
				&::after {
					content: '';
					position: absolute;
					bottom: 0; left: 0;
					width: 100%;
					height: 2px;
					background: #fff;
					transform: scaleX(0);
					transition-duration: 0.3s;
				}
				&>input {
					width: 100%;
					border: none;
					height: 40px;
					padding-left: 5px;
					align-self: flex-start;
					outline: none;
					border-radius: 0;
					background: transparent;
					color: #fff;
					position: relative;
					display: none;
				}
			}
			&>.input-focus::after {
				transform: scaleX(1);
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #BEC0C8;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: #BEC0C8;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: #BEC0C8;
			}
			:-moz-placeholder { /* Firefox 18- */
			  color: #BEC0C8;
			}
			&>h3 {
				margin: 0;
				font-size: 1.2em;
				color: $purple;
				font-weight: 500;
				text-align: center;
				margin-top: 7.5px;
				margin-bottom: 10px;
			}
			&>.submit {
				margin-top: 5px;
				outline: none; border: none;
				height: 40px; width: 60%;
				background: #5BD070;
				@include buttonShadow;
				color: #fff;
				border-radius: 2.5px;
				font-weight: 600;
				transition-duration: 0.3s;
				position: relative;
				&>img {
					position: absolute;
					height:60%; width: 60%;
					top: 20%; left: 20%;
					transform: scale(0);
					transition-duration: 0.3s;
				}
			}
		}
	}
}

.class-show {
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 0.4s;
}
.class-flip {
	.front {
		transform: rotateY(180deg);
	}
	.back {
		transform: rotateY(0deg);
		&>div>.input>input {
			display: block;
		}
	}
}
.class-loading>.back>div>.submit {
	width: 35px;
	background: #5BD070 url('pictures/loader.gif') no-repeat center;
	background-size: 75% 75%;
	border-radius: 50%;
	color: transparent;
}
.class-loading>.back>div>.submit {
	background: #5BD070;
	&>img {
		transform: scale(1);
	}
}

@import 'ClassProject/class-project.scss';