html,
body,
header,
#intro {
  height: 100%;
}

.App>.body-container {
  display: block;
}

.image-dash {
  justify-content: center;
  align-content: center;
}

.App> .body-container{
  height: 55vh;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}