html,
body,
header,
#intro {
  height: 100%;  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App>.body-container {
  display: block;
}

.rgba-stylish-strong {
  margin-top: 100px;

}


.hero-image {
  background: url("/favicon/fav/team.jpg") no-repeat center;
  background-size: cover;
  height: 65vh;
  margin-top: 3%;
  position: relative;
}

.hero-text {
  align-content: center;
  padding: 55px;
  text-align: center; // align-content: center;
  font-weight: bolder; // color: white;
  // text-shadow: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; // font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.35);
}

.image-dash {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    max-width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}