.circle-details {
  @include center;
  width: 90%;
  margin-bottom: 5%;
  @media #{$mq-670} {
    margin-bottom: 0;
  }
  & > .stat-wrapper {
    @include center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media #{$mq-670} {
      max-width: 300px;
    }
    @media #{$mq-957} {
      max-width: 350px;
    }
    & > div {
      @include center;
      flex-direction: column;
      justify-content: space-around;
      width: 33.33333%;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      & > h5 {
        color: $lightgray;
        margin-top: 0;
        text-align: center;
        margin: 0;
        &:first-of-type {
          font-size: 3em;
          font-weight: 200;
          transition-duration: 0.75s;
          @media #{$mq-375} {
            font-size: 3.5em;
          }
        }
        &:last-of-type {
          font-size: 0.8em;
          font-weight: 800;
          @media #{$mq-375} {
            font-size: 0.9em;
          }
          @media #{$mq-iphoneX} {
            font-size: 2vh;
          }
          @media #{$mq-670} {
            font-size: 1.85vh;
          }
          @media #{$mq-957} {
            font-size: 2.25vh;
          }
        }
      }
    }
  }
}
