.class-modal-show {
	@include center;
}
.class-modal-enter {
	&>div {
		opacity: 1;
		transition-delay: 0.1s;
		transition-duration: 0.3s;
		&>div {
			transform: scale(1);
			transition-delay: 0.25s;
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}
}
.class-modal-loading>div>div>.buttons>button:last-of-type {
	background: #5BD070 url('./pictures/loader.gif') no-repeat center;
	background-size: 25px 25px;
	color: transparent;
	width: 37.5px;
	border-radius: 50%;
	transition-duration: 0.3s;
}
.class-modal-complete>div>div>.buttons>button:last-of-type {
	background: #5BD070;
	&>img {
		transform: scale(1);
	}
}
.class-modal-close {
	@include center;
	&>div {
		opacity: 0;
		transition-delay: 0.25s;
		&>div {
			transform: scale(0);
			transition-delay: 0s;
			transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		}
	}
}