.projects {
  width: 100%;
  position: relative;
  @media #{$mq-1070} {
    width: calc(100% - 200px);
  }
  &>div {
    width: 90%;
    @include center;
    flex-direction: column;
    height: auto;
    margin: auto;
    min-height: 70vh;
    @media #{$mq-1070} {
      width: 95%;
    }
    &>h1 {
      font-size: 3em;
      font-weight: 200;
      color: $purple;
      width: 100%;
      text-align: center;
      margin: 2em auto 0.5em auto;
      position: relative;
      @media #{$mq-670} {
        margin: 2.75em auto 1em auto;
      }
      @media #{$mq-1070} {
        margin: 1.75em auto 1em auto;
      }
    }
    &>div {
      width: 100%;
      @include center;
      flex-direction: column;
      @media #{$mq-670} {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

.projects-show {
  &>div {
    &>div {
      &>.project {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &>.create-project-button {
    transform: scale(1) rotate(0deg);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.5s;
  }
}

@import 'Project/project.scss';

.create-project-button {
  outline: none; border: none;
  position: fixed;
  bottom: 2.5vh; right: 2.5vh;
  height: 50px; width: 50px;
  background: $redish url('pictures/plus.svg') no-repeat center;
  background-size: 65% 65%;
  border-radius: 50%;
  @include headerShadow;
  z-index: 2;
  transform: scale(0) rotate(360deg);
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition-duration: 0.4s;
  @media #{$mq-670} {
    height: 70px; width: 70px;
    bottom: 3.5vh; right: 3.5vh;
  }
  &:hover {
    transition-duration: 0.3s;
    transition-delay: 0s;
    transform: scale(1.1);
  }
}