.class-project {
	padding: 5px 0;
	color: $purple;
	cursor: pointer;
	width: 90%;
	@include center;
	justify-content: space-between;
	position: relative;
	transition-duration: 0.3s;
	&::before {
		content: "";
		position: absolute;
		bottom: 0; left: 0;
		height: 0.5px; width: 100%;
		background: rgba(#BEC0C8, 0.25);
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0; left: 0;
		height: 1px; width: 100%;
		background: rgba(#BEC0C8, 0.5);
		transform: scaleX(0);
		transition-duration: 0.25s;
	}
	&:hover::after {
		transform: scaleX(1);
	}
	&>h4 {
		margin: 0;
		margin-left: 5px;
		font-weight: 400;
	}
	&>.circle-graph {
		margin-top: 0%;
		margin-right: 5px;
		@media #{$mq-670} {
			max-width: 275px;
			margin-top: 0%;
		}
		&>.circle-center {
			margin: 0;
		}
	}
}