@import "reset.scss";
@import "variables.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif;
  background: $darkergray;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  @include center;
  min-height: 100vh;
  width: 100%;
  & > .body-container {
    background: $darkergray;
    @include center;
    width: 100%;
    min-height: 100vh;
    transition-duration: 0.3s;
    @media #{$mq-1070} {
      justify-content: flex-end;
    }
  }
  & > .shift-left {
    transition-duration: 0.5s;
    transform: translateX(-75%);
    @media #{$mq-670} {
      transform: translateX(-70%);
    }
    @media #{$mq-800} {
      transform: translateX(0%);
    }
  }
}

@import "components/Header/header.scss";
@import "components/Menu/menu.scss";
@import "components/Dashboard/dashboard.scss";
@import "components/CreateProject/CreateProject";
@import "components/Billing/billing.scss";
@import "components/LandingPage/landing-page.scss";
@import "components/Loader/loader.scss";
@import "components/Classes/classes.scss";
@import "components/Projects/projects.scss";
@import "components/Main/main.scss";
@import "Components/Settings/settings.scss";
@import "Components/NotFound/not-found.scss";
